<!DOCTYPE html>
<html>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" style="align-self: left;border: 1px blue;" ></script>
<body>
    
<canvas id="myChart" style="width:80%;max-width:800px;width: 100%;border:1px solid blue;margin-left:20% ;margin-top:5% ;"></canvas>

<script style="align-self:center ;">
    
    var xValues = ["January", "February", "March", "April", "May","June","July","August","September","October","November","December"];
var yValues = [7,8,8,9,9,9,10,11,14,14,15];

new Chart("myChart", {
    type: "line",
  data: {
    
    labels: xValues,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 6, max:16}}],
    }
  }
});

</script>


</body>

    </div> 
</html>