<!DOCTYPE html>
<html>
  <title>Admin profile</title>
<head>
  
<style>
    
table {
  font-family: arial, sans-serif;
 border-collapse: collapse;
  border-bottom-width: 1px;
  width: 100%;
}

 th {
  border-bottom:  1px solid #0e46be;
  backdrop-filter: 1px;
  text-align: center;
  padding: 6px;
}
td{
    border-bottom:  1px solid #0e46be;
  text-align: center;
  padding: 6px;
}


</style>
</head>
<body>
<center>
<h4 style="color: darkblue;">DIGTAL DAIRY <br>
</h4>
<div style="width: 90%; border: 1px solid blue;">
<table style="color: blue;">
  <tr>
    <th>Name</th>
    <th>Email Id</th>
    <th>Contact Number</th>
    <th>Department</th>
  </tr>
  <tr>
    <td>Tejesh</td>
    <td>Tejesh@gmail.com</td>
    <td>9398870561</td>
    <td>ECE</td>

  </tr>
  <tr>
    <td>Tejesh</td>
    <td>Tejesh@gmail.com</td>
    <td>9398870561</td>
    <td>ECE</td>
  </tr>
  <tr>
    <td>Tejesh</td>
    <td>Tejesh@gmail.com</td>
    <td>9398870561</td>
    <td>ECE</td>
  </tr>
  <tr>
    <td>Tejesh</td>
    <td>Tejesh@gmail.com</td>
    <td>9398870561</td>
    <td>ECE</td>
  </tr>
  <tr>
    <td>Tejesh</td>
    <td>Tejesh@gmail.com</td>
    <td>9398870561</td>
    <td>ECE</td>
  </tr>
  <tr>
    <td>Tejesh</td>
    <td>Tejesh@gmail.com</td>
    <td>9398870561</td>
    <td>ECE</td>
  </tr>
</table>
</div>
</center>

</body>
</html>